<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="" />
    <title>Home</title>
    <style>
      tr,
      td {
        border: 1px solid teal;
        padding: 5px;
      }
    </style>
  </head>

  <body>
    <h1><%= title %></h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Sex</th>
      </tr>

      <% for(let item of students){ %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.age %></td>
        <td><%= item.sex %></td>
      </tr>
      <% } %>
    </table>
    <ul>
      <% for(let item of result) { %>
      <li><%= item %></li>
      <% } %>
    </ul>
  </body>
</html>
